h2 How restrictive are income requirements for sponsoring a spouse?

table#legend
	tr.low
		td.swatch
			b
		td.title Low:
		td.desc No income threshold for sponsors, or one that’s lower than state support
	tr.moderate
		td.swatch
			b
		td.title Moderate:
		td.desc Sponsor’s income has to be higher than state support
	tr.high
		td.swatch
			b
		td.title High:
		td.desc Sponsor’s income can’t come from state support and/or must come from a job

table#mipex
	thead
		tr
			th Country
			th Restrictions
	tbody

div.footnote Data: <a href="http://mipex.eu/">MIPEX</a> (2014)
